{{ define "main" }}
<main class="main">
  <article class="content content--post content--{{ .Page.Kind }}">
    <h1 class="content__title">{{ .Title }} <a href="/">(index)</a></h1>
    <section class="post__content">
      <div class="ts">{{ .Content }}</div>
      {{ if .Params.categories }}
      <nav class="nav nav--categories">
        <ul class="nav__list">
          {{ range .Params.categories }}
          <li class="nav__item"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="nav__link">{{ . }}</a></li>
          {{ end }}
        </ul>
      </nav>
      {{ end }}
      {{ if .Params.tags }}
      <nav class="nav nav--tags">
        <ul class="nav__list">
          {{range .Params.tags }}
          <li class="nav__item"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="nav__link">{{ . }}</a></li>
          {{ end }}
        </ul>
      </nav>
      {{ end }}
    </section>
  </article>
  {{ partial "footer" . }}
</main>
{{ end }}
