/*------------------------------------*\
  button
\*------------------------------------*/

.button {
  &:before {content: "☞";}
}

%button {
  display: inline-block;
  border: var(--border-sm) solid var(--color-base);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 1em;
}
