/*------------------------------------*\
  nav
\*------------------------------------*/

.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  .nav__item:not(:last-child) {margin-right: var(--spacing-sm);}
}

.nav__link {
  @extend %ts-small;
  @extend %ts-link;
}