<li class="index__item {{ .Type }}">
  <a href="{{ .Permalink }}" class="item__link">
    <span class="item__title">{{ .Title }}</span>
    {{ if .Params.categories }}
    <nav class="nav nav--taxonomies">
      <ul class="nav__list">
        {{ range .Params.categories }}
        <li class="nav__item"><object><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="nav__link">{{ . }}</a></object></li>
        {{ end }}
      </ul>
    </nav>
    {{end}}
    {{ if .Params.image }}
      {{ $img := (.Resources.ByType "image").GetMatch "*cover*" }}
      {{ with $img }}
        {{ $img := .Resize "1024x" }}
        <div class="item__media lazyload" data-bg="{{ $img.RelPermalink }}"></div>
      {{ end }}
    {{ end }}
    {{ if .Params.tags }}
    <nav class="nav nav--tags">
      <ul class="nav__list">
        {{ range .Params.tags }}
        <li class="nav__item"><object><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="nav__link">{{ . }}</a></object></li>
        {{ end }}
      </ul>
    </nav>
    {{end}}
  </a>
</li>