{{ $alt := .Get "alt"}}
{{ $caption := .Get "caption"}}
{{ with $.Page.Resources.GetMatch (.Get "name") }}
<figure>
  <img
  data-sizes="auto"
  data-src="{{ (.Resize "1000x q100").RelPermalink }}"
  data-srcset="{{ (.Resize "1000x q100").RelPermalink }} 800w,
  {{ (.Resize "1400x q100").RelPermalink }} 1200w,
  {{ (.Resize "1800x q100").RelPermalink }} 1600w"
  alt="{{ .Title }}"
  class="image-lazy lazyload" />
  {{ if $caption }}<figcaption>{{ $caption }}</figcaption>{{ end }}
</figure>
{{ end }}
