/*------------------------------------*\
  fonts
\*------------------------------------*/

@font-face {
  font-family: 'gap-sans';
  src: url('../fonts/gap-sans.woff2') format('woff2'),
       url('../fonts/gap-sans.woff') format('woff');
       font-style:  normal;
       font-weight: normal;
}

@font-face {
  font-family: 'fira-mono';
  src: url('../fonts/fira-mono.woff2') format('woff2'),
       url('../fonts/fira-mono.woff') format('woff');
       font-style:  normal;
       font-weight: normal;
}
