/*------------------------------------*\
  text styles
\*------------------------------------*/

%ts-body {
  @extend %font-body;
  font-size: var(--font-size-md);
}
%ts-small {
  @extend %font-body;
  font-size: var(--font-size-sm);
}
%ts-code {
  @extend %font-code;
  font-size: var(--font-size-sm);
}
%ts-title {
  @extend %font-body;
  font-size: var(--font-size-lg);
}

%ts-link {
  color: var(--color-base);
  text-decoration: none;
  &:hover {
    color: var(--color-base);
    text-decoration: none;
  }
}

%ts-bodylink {
  color: var(--color-action);
  text-decoration: none;
  &:hover {
    color: var(--color-action);
    text-decoration: none;
  }
}

.ts {
  @extend %ts-body;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %ts-body;
  }
  b, strong {
    @extend %ts-body;
  }
  i, em {
    @extend %ts-body;
  }
  ul, ol {list-style: none;}
  li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: .4em;
    @include media('<md') {padding-left: 1em;}
  }
  ol {
    counter-reset:li;
    li:before {
      content:counter(li);
      counter-increment:li;
      position: absolute;
      left: 0;
    }
  }
  ul li:before {
    content: "—";
    position: absolute;
    left: 0;
  }
}

// spacing
.ts {
  h1, h2, h3, h4, h5, h6 {
    margin: 1.8em 0 .2em 0;
    text-indent: 1.5em;
  }
  p, ul, ol {
    margin-bottom: .5em;
  }
  figure,
  table {
    margin: 1em 0;
  }
  figcaption {margin-top: .2em;}
  a {@extend %ts-bodylink;}
}

// table
.ts table {
  width: 100%;
  thead th {
    border-bottom: var(--border-sm) solid var(--color-base);
  }
  tbody tr {
    &:nth-child(odd) {
      background-color: rgba(var(--color-base), .5);
    }
    &:not(:last-child) td {border-bottom: var(--border-sm) solid var(--color-base);}
  }
  td,
  th {
    &:not(:last-child) {
      border-right: var(--border-sm) solid var(--color-base);
      padding-right: .5em;
    }
  }
  td,
  th {
    &:not(:first-child) {
      padding-left: .5em;
    }
  }
  th,
  td {
    padding: .5em 0;
  }
  @include media("<sm") {
    th,
    td {
      display: block;
    }
  }
}

// code
.highlight {
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-md);
  border: var(--border-sm) dashed var(--color-base);
  pre {
    @extend %ts-code;
  }
  code {
    white-space: pre;
    overflow: scroll;
    display: block;
    width: 100%;
  }
}
