/*------------------------------------*\
  variables
\*------------------------------------*/

$breakpoints: (
  xs  : 320px,
  sm  : 768px,
  md  : 1024px,
  lg  : 1280px,
  xl  : 1440px,
  xxl : 1920px
);

:root {
  --color-base: #000000;
  --color-body: #FFFEF7;
  --color-action: #FF0000;
  --font-size-base: 24px;
  @include media('<sm') {--font-size-base: 18px;}
  --font-size-lg: 5vw;
  @include media('<sm') {--font-size-lg: 1.333rem;}
  --font-size-md: 1rem;
  --font-size-sm: 0.667rem;
  --font-body: "gap-sans", Helvetica, Arial, sans-serif;
  --font-code: "fira-mono", monospace;
  --spacing-gutter: 30px;
  @include media('<sm') {--spacing-gutter: 15px;}
  --spacing-xs: .25em;
  --spacing-sm: .5em;
  --spacing-md: 1em;
  --spacing-lg: 2em;
  --spacing-xl: 4em;
  --spacing-xxl: 6em;
  --border-sm: 1px;
  --border-md: 2px;
  --content-max-width: 910px;
}

%font-base {
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
}

%font-body {
  font-family: var(--font-body);
  @extend %font-base;
}

%font-body-italic {
  font-family: var(--font-body);
  @extend %font-base;
}

%font-body-bold {
  font-family: var(--font-body);
  @extend %font-base;
}

%font-body-bold-italic {
  font-family: var(--font-body);
  @extend %font-base;
}

%font-code {
  font-family: var(--font-code);
  @extend %font-base;
}
